<select class="one">
  {{#each filterone as |one|}}
    <option value={{one.id}}>{{one.name}}</option>
  {{/each}}
</select>
<select class="two">
  {{#each filtertwo as |two|}}
    <option value={{two.id}}>{{two.name}}</option>
  {{/each}}
</select>
<select class="three">
  {{#each filterthree as |three|}}
    <option value={{three.id}}>{{three.name}}</option>
  {{/each}}
</select>
<select class="four">
  {{#each filterfour as |four|}}
    <option value={{four.id}}>{{four.name}}</option>
  {{/each}}
</select>

{{#link-to 'wat' class='link-wat'}}wat{{/link-to}}
{{#link-to 'robots' class='link-robots'}}robots{{/link-to}}
